//! **************************************************************************
// Written by: Map P.68d on Thu Oct 11 12:23:52 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Q1" LOCATE = SITE "M11" LEVEL 1;
COMP "Q2" LOCATE = SITE "M5" LEVEL 1;
COMP "R" LOCATE = SITE "L3" LEVEL 1;
COMP "S" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

