//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 25 13:37:07 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Qout<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Cout" LOCATE = SITE "N5" LEVEL 1;
COMP "Qout<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Qout<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "Bin<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "Qout<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "Bin<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "Bin<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "Bin<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "Ain<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "Ain<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "Ain<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "Ain<3>" LOCATE = SITE "B4" LEVEL 1;
SCHEMATIC END;

