//! **************************************************************************
// Written by: Map P.68d on Thu Oct 11 14:08:16 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Q<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "M11" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "M5" LEVEL 1;
COMP "Din" LOCATE = SITE "P11" LEVEL 1;
COMP "CLK" LOCATE = SITE "N3" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

