//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 11 13:30:09 2018
//! **************************************************************************

SCHEMATIC START;
COMP "CLK_in" LOCATE = SITE "G12" LEVEL 1;
COMP "notQ" LOCATE = SITE "G1" LEVEL 1;
COMP "X1" LOCATE = SITE "M5" LEVEL 1;
COMP "X2" LOCATE = SITE "M11" LEVEL 1;
COMP "X3" LOCATE = SITE "P7" LEVEL 1;
COMP "Q" LOCATE = SITE "P4" LEVEL 1;
COMP "Din" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

