//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 23 17:52:14 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Co" LOCATE = SITE "M11" LEVEL 1;
COMP "A" LOCATE = SITE "P11" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "Q" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

