//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 25 11:29:51 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Co" LOCATE = SITE "M11" LEVEL 1;
COMP "A" LOCATE = SITE "P11" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "C" LOCATE = SITE "K3" LEVEL 1;
COMP "Q" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

