//! **************************************************************************
// Written by: Map P.68d on Thu Oct 25 12:55:41 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "P6" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

