
# PlanAhead Generated physical constraints 

NET "CLR" LOC = G12;
NET "CLK" LOC = C8;

NET "Q[0]" LOC = M5;
NET "Q[1]" LOC = M11;
NET "Q[2]" LOC = P7;
NET "Q[3]" LOC = P6;

NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;