//! **************************************************************************
// Written by: Map P.68d on Tue Oct 09 13:38:05 2018
//! **************************************************************************

SCHEMATIC START;
COMP "sseg<7>" LOCATE = SITE "N13" LEVEL 1;
COMP "anO<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "anO<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "anO<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "anO<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "row<0>" LOCATE = SITE "B5" LEVEL 1;
COMP "row<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "row<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "row<3>" LOCATE = SITE "B2" LEVEL 1;
NET "SYS_CLK_BUFGP/IBUFG" BEL "SYS_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "En" LOCATE = SITE "G12" LEVEL 1;
COMP "SYS_CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "keyO" LOCATE = SITE "M5" LEVEL 1;
COMP "colO<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "colO<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "colO<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "colO<3>" LOCATE = SITE "B7" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

