
# PlanAhead Generated physical constraints 

NET "CLK" LOC = N3;
NET "CLKlight" LOC = P4;
NET "J" LOC = L3;
NET "K" LOC = P11;
NET "Q" LOC = M5;
NET "Enable" LOC = E2;

NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;