//! **************************************************************************
// Written by: Map P.68d on Thu Oct 11 14:11:01 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Qout" LOCATE = SITE "M11" LEVEL 1;
COMP "nQout" LOCATE = SITE "M5" LEVEL 1;
COMP "Din" LOCATE = SITE "P11" LEVEL 1;
COMP "CLK" LOCATE = SITE "N3" LEVEL 1;
SCHEMATIC END;

