//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 07 21:44:45 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Count_Q<0>" LOCATE = SITE "N5" LEVEL 1;
COMP "Count_Q<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "Count_Q<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "Count_Q<3>" LOCATE = SITE "G1" LEVEL 1;
COMP "SYS_CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "Timer_Q<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Booboo_EN" LOCATE = SITE "P7" LEVEL 1;
COMP "Timer_Q<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "CLK" LOCATE = SITE "C8" LEVEL 1;
COMP "Booboo_ST" LOCATE = SITE "P6" LEVEL 1;
NET "SYS_CLK_BUFGP/IBUFG" BEL "SYS_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

