
# Clocks

NET "CLK" LOC = C8;
NET "SYS_CLK" LOC = B8;

# Timing

NET "Count_Q[0]" LOC = N5;
NET "Count_Q[1]" LOC = N4;
NET "Count_Q[2]" LOC = P4;
NET "Count_Q[3]" LOC = G1;

NET "Timer_Q[1]" LOC = M11;
NET "Timer_Q[0]" LOC = M5;

# anO

#NET "anO[0]" LOC = F12;
#NET "anO[1]" LOC = J12;
#NET "anO[2]" LOC = M13;
#NET "anO[3]" LOC = K14;

# sseg

#NET "sseg[0]" LOC = m12;
#NET "sseg[1]" LOC = l13;
#NET "sseg[2]" LOC = p12;
#NET "sseg[3]" LOC = n11;
#NET "sseg[4]" LOC = n14;
#NET "sseg[5]" LOC = h12;
#NET "sseg[6]" LOC = l14;
#NET "sseg[7]" LOC = n13;

# Debug

NET "Booboo_EN" LOC = P7;
NET "Booboo_ST" LOC = P6;
