

NET "hexD[0]" LOC = P11;
NET "hexD[1]" LOC = L3;
NET "hexD[2]" LOC = K3;
NET "hexD[3]" LOC = B4;




NET "sseg[0]" LOC = M12;
NET "sseg[1]" LOC = L13;
NET "sseg[2]" LOC = P12;
NET "sseg[3]" LOC = N11;
NET "sseg[4]" LOC = N14;
NET "sseg[5]" LOC = H12;
NET "sseg[6]" LOC = L14;
NET "sseg[7]" LOC = N13;


NET "anO[0]" LOC = K14;
NET "anO[2]" LOC = J12;
NET "anO[3]" LOC = F12;
NET "anO[1]" LOC = M13;
NET "sel[0]" LOC = A7;
NET "sel[1]" LOC = M4;


#NET "Ain[0]" LOC = P11;
#NET "Ain[1]" LOC = L3;
#NET "Ain[2]" LOC = K3;
#NET "Ain[3]" LOC = B4;

# PlanAhead Generated physical constraints 

NET "Ain[3]" LOC = N3;
NET "Ain[2]" LOC = E2;
NET "Ain[0]" LOC = G3;
NET "Ain[1]" LOC = F3;