//! **************************************************************************
// Written by: Map P.68d on Thu Oct 18 12:08:47 2018
//! **************************************************************************

SCHEMATIC START;
COMP "WriteData" LOCATE = SITE "A7" LEVEL 1;
COMP "Data<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "Data<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "Data<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "Data<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "Data<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "Data<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "Data<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "Data<7>" LOCATE = SITE "N13" LEVEL 1;
COMP "ReadData" LOCATE = SITE "G12" LEVEL 1;
COMP "Ain<0>" LOCATE = SITE "F3" LEVEL 1;
COMP "Ain<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "Ain<2>" LOCATE = SITE "N3" LEVEL 1;
COMP "Din<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "Din<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "Din<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "Din<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "anO<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "anO<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "anO<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "anO<3>" LOCATE = SITE "K14" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

