
# PlanAhead Generated physical constraints 

NET "Ain[3]" LOC = N3;
NET "Ain[2]" LOC = E2;
NET "Ain[1]" LOC = F3;
NET "Ain[0]" LOC = G3;
NET "Bin[3]" LOC = B4;
NET "Bin[2]" LOC = K3;
NET "Bin[1]" LOC = L3;
NET "Bin[0]" LOC = P11;
NET "Qout[3]" LOC = P6;
NET "Qout[2]" LOC = P7;
NET "Qout[1]" LOC = M11;
NET "Qout[0]" LOC = M5;
NET "Overflow" LOC = G1;
NET "Negative" LOC = P4;
NET "Switch" LOC = G12;
